<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<display-name>Archetype Created Web Application</display-name>


  <context-param>
    <param-name>DB_USERNAME</param-name>
    <param-value>postgres</param-value>
  </context-param>
  <context-param>
    <param-name>DB_PASSWORD</param-name>
    <param-value>2022AmazingCareer</param-value>
  </context-param>
  <context-param>
    <param-name>DB_URL</param-name>
    <param-value>jdbc:postgresql://javafs-210907-rds.csznvnr7exd6.us-east-2.rds.amazonaws.com:5432/postgres</param-value>
  </context-param>
  <context-param>
    <param-name>DB_DRIVER</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>

  <listener>
    <listener-class>com.ers.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.ers.request.DispatcherServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

</web-app>
